.App-header {
  background-color: #ffffff;
  padding: 2rem;
  color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header > * {
  text-align: left;
  max-width: 600px;
  width: 100%;
}

.App-header .experience {
  margin-top: 1.5em;
}

.App-header .contacts {
  margin-top: 1.5em;
}

.App-header a {
  color: #282c34;
  text-decoration: underline;
}

.App-header a:hover {
  opacity: 0.7;
}


